Source: ros-jazzy-classic-bags
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-pytest <!nocheck>, ament-cmake-python, libstd-msgs-dev <!nocheck>, python3-std-msgs <!nocheck>, ros-jazzy-builtin-interfaces, ros-jazzy-rclcpp, ros-jazzy-rclpy, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-py, ros-jazzy-rosbag2-storage, ros-jazzy-rosidl-runtime-py, ros-std-msgs <!nocheck>, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-classic-bags
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-builtin-interfaces, ros-jazzy-rclcpp, ros-jazzy-rclpy, ros-jazzy-rosbag2-cpp, ros-jazzy-rosbag2-py, ros-jazzy-rosbag2-storage, ros-jazzy-rosidl-runtime-py, ros-jazzy-ros-workspace
Description: A ROS 2 interface in the style of ROS 1 for reading and writing bag files
